<header class="site__header">

    <section class="site__title">
      <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      {% if site.subtitle %}
        <p class="subtitle">{{ site.subtitle }}</p>
      {% endif %}
    </section>

    <nav class="site__header__nav site-nav">

      <div class="trigger">

        <dl class="nav__list">
          <dt class="nav__list__title">Also find me here:</dt>
          {% if site.github_username %}
            <dd class="nav__list__item">
              <a href="http://github.com/{{ site.github_username }}" class="nav__list__link link--github icon-github"><span class="siteurl">GitHub/</span><span class="username">{{ site.github_username }}</span></a>
            </dd>
          {% endif %}

          {% if site.twitter_username %}
            <dd class="nav__list__item"><a href="https://twitter.com/{{ site.twitter_username }}" class="nav__list__link link--twitter icon-twitter"><span class="siteurl">twitter/</span><span class="username">{{ site.twitter_username }}</span></a></dd>
          {% endif %}

          {% if site.linkedin_username %}
            <dd class="nav__list__item"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="nav__list__link link--linkedin icon-linkedin2"><span class="siteurl">Linkedin/</span><span class="username">{{ site.linkedin_username }}</span></a></dd>
          {% endif %}

          <dd class="nav__list__item"><a href="mailto:scott@scottnath.com" class="nav__list__link link--email icon-mail4"><span>scott@scottnath.com</span></a></dd>
        </dl>

      </div>
    </nav>

</header>
