<header class="site__header">

    <section class="site__title">
      <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      {% if site.subtitle %}
        <p class="subtitle">{{ site.subtitle }}</p>
      {% endif %}
    </section>

    <nav class="site__header__nav site-nav">

      <div class="trigger">

        <dl class="nav__list">
          <dt class="nav__list__title">Also find me here:</dt>
          {% if site.github_username %}
            <dd class="nav__list__item">
              <a href="http://github.com/{{ site.github_username }}" class="nav__list__link link--github icon-github"><span>GitHub</span></a>
            </dd>
          {% endif %}

          {% if site.twitter_username %}
            <dd class="nav__list__item"><a href="https://twitter.com/{{ site.twitter_username }}" class="nav__list__link link--twitter icon-twitter"><span><span>Twitter</span></a></dd>
          {% endif %}


          <dd class="nav__list__item"><a href="https://www.linkedin.com/pub/scott-nath/77/585/236" class="nav__list__link link--linkedin icon-linkedin2"><span>Linkedin</span></a></dd>

          <dd class="nav__list__item"><a href="mailto:scott@scottnath.com" class="nav__list__link link--email icon-mail4"><span>scott@scottnath.com</span></a></dd>
        </dl>

      </div>
    </nav>

</header>
