
@media print {


  :root {
    font-size: 100%;
  }

  body {
    color: black;
    background-color: white;
    -webkit-text-size-adjust: 100%;
    padding: 0;
  }

  .site__title {
    float: left;
    text-align: left;
  }

  .nav__list {
    float: right;
    font-size: .4rem;
    [class^="icon-"], [class*=" icon-"] {
      &:before {
        content: '';
      }
    }
    text-align: right;
  }
  .nav__list__title {
    display: none;
    margin: 0;
  }
  .nav__list__item {
    margin-right: 0;
    span {
      display: inline;
      font-size: .8em;
    }
  }
  .nav__list__link {
    float: right;
    margin-left: .4rem;
  }
  .link--email {
    clear: both;
  }

  .resume__header, .resume__section, .resume__footer {
    margin: $spacing-unit/4 auto;
    padding: 0;
    border-radius: 0;
  }
  .resume__section__title {
    font-size: 1.2em;
  }

  .resume__tech-skills .title{
    margin-bottom: 0;
  }

  .skills {
    float: none;
    width: auto;
  }
  .skills dt {
    display: inline;

    &::after {
      content: ': ';
    }

  }
  .skills dd {
    display: inline;
    margin: 0;
    font-size: .9em;

    &::after {
      content: ', '
    }

    &:last-of-type::after {
      content: '';
    }

  }


  .resume__experience {
    font-size: .8em;
  }
  .resume__experience .title{
    margin-bottom: .2em;
  }

  .resume__experience__date {
    font-size: .7em;
    margin-bottom: 0;
    line-height: 1.2em;
  }
  .resume__experience__summary {
    line-height: 1.5em;
    p {
      margin-bottom: 0;
    }
  }

  .resume__projects {
    page-break-before: always;
  }
}
