<!-- Pattern: resume-experience -->
<section class="{{experience.class}}">
  <h2 class="{{experience.title.class}}">{{experience.title.content}}</h2>
  {% for item in experience.items %}
    <section class="{{item.class}}">
      <h3 class="{{item.header.class}}">
        <span class="{{item.header.name.class}}">{{item.header.name.content}}</span>
        <span class="{{item.header.position.class}}">{{item.header.position.content}}</span>
      </h3>
      <p class="{{item.dates.class}}">{{item.dates.content}}</p>
      <div class="{{item.summary.class}}">{{item.summary.content}}</div>
      {% if item.urls %}
        <ul class="urls">
          {% for url in item.urls %}
            <li><a href="{{url.url}}" title="{{url.content}}">{{url.content}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
  {% endfor %}
</section>
